@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
*{
  margin: 0%;
  padding: 0%;
  color: rgba(21, 128, 0, 0.873);
  font-family: "creepster", cursive;

}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  
    monospace;
}
